body {
    text-align: center;
}
img{
    height:300px;
}
main {
    width:1500px;
    padding:50px;
    border:3px solid grey;
    margin:50px auto 50px;
}
a{
    text-decoration:none;
    font-size:20px;
    color:grey;
    margin:0 15px;
}
a:hover{
    color:purple;
}
a:focus{
    color:grey;
}
.active {
    color: purple;
    font-weight:600;
    display: inline-block;
}
.navigation{
    padding:20px;
}
.two-columns{
    display:inline-block;
    border: 2px solid grey;
    width: 49%;
    height: 200px;
    color: black;
    border-style: dotted;
}
.three-columns {
    display: inline-block;
    border: 2px solid grey;
    width: 32%;
    height: 200px;
    color: black;
    border-style: dotted;
}
p {
    font-family: "Century Gothic", Times, serif;
}
.fit-image {
    padding-bottom: calc(250/360*100%);
    position: relative;
}
